html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: rgb(248, 236, 202);
  }

  h1 {
    font-weight: 200;
    font-size: 3.5em;
    min-width: 10em;
  }
  
  canvas {
    display: block;
    position: absolute;
    z-index: 1; 
  }

  button {
    z-index: 1;
    margin: 1%;
    padding: 1em;
    border-radius: 1em;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    background: rgb(3, 256, 256) ;
    box-shadow: 3px 3px;
  }

  #header {
    position: absolute; 
    z-index: 3;
    padding-top: 45vh;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-family: 'Permanent Marker', cursive;
  }

  #quote {
    position: absolute;
    z-index: 2;
    padding: 0.5em;
    width: 250px;
    min-height: 100px;
    margin: 1%;
    color: brown;
    border-radius: 1em;
    border: 2px solid brown;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    z-index: 3; 
    background: rgba(256, 256, 256, .6) ;
  }


  @media (max-width: 1000px) {

    #quote { 
       font-size: 40px; 
       font-family: 'Permanent Marker', cursive;
       width: 400px;
       margin-top: 10%;
    }

    #header {
      width: 25%;
    }
 
 }